__pycache__/*
.ipynb_checkpoints/*
models/生成器/image/*
models/预训练/image/*
models/转换器/image/*
models/生成器/*
models/预训练/*
models/转换器/*
app/__pycache__/*
new_models/*
resnet18-5c106cde.pth
resnet50-19c8e357.pth